@model Examen_2_Barrantes_Kevin.Models.DoughModel

<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h1>Masa</h1>
                <hr />
                <h2>Card</h2>

                <div class="card">
                    <img src="https://i.etsystatic.com/16345182/r/il/751a05/1501866121/il_570xN.1501866121_98wb.jpg" alt="Avatar" style="width:100%">
                    @Html.LabelFor(model => model.size, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.DropDownListFor(model => model.size, Model.SizeList, "--Please select a topic--", new { @class = "form-control" })
                    @Html.LabelFor(model => model.dough, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.DropDownListFor(model => model.dough, Model.DoughList, "--Please select a topic--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.size, "", new { @class = "text-danger" })
                    @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label col-md-2", @id = "Precio" })
                    @Html.HiddenFor(model => model.price)
                    <h4>Pequeña = 4000, Mediana = 4500, Grande = 6000</h4>
                    <h4>Clásica = 500, Borde Relleno = 800</h4>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Siguiente" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
